name: build wheels

on:
  push:
    branches: [master]
  pull_request:
    # Check all PR

jobs:
  build_wheels:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-2019, macos-14]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install cibuildwheel
        run: |
          python -m pip install --upgrade pip
          python -m pip install cibuildwheel==2.11.2

      - name: setup MSVC command prompt
        uses: ilammy/msvc-dev-cmd@v1

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse
        env:
          CIBW_BUILD: cp39-*
          CIBW_SKIP: cp39-musllinux* *win32
          CIBW_ARCHS_MACOS: x86_64 arm64
          CIBW_BEFORE_BUILD: rm -rf build
          CIBW_BUILD_VERBOSITY: 2

      - name: Check that wheels install and load
        run: |
          pip install numpy
          pip install --no-index --find-links=wheelhouse/ chemfiles
          python -c "import chemfiles; chemfiles.Frame()"

      - uses: actions/upload-artifact@v3
        with:
          path: ./wheelhouse/*.whl
          name: wheels

  build_sdist:
    name: build sdist
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade wheel setuptools

      - name: Build wheels
        run: python setup.py sdist

      - uses: actions/upload-artifact@v3
        with:
          path: ./dist/*.tar.gz
          name: wheels
